body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9bdbd; /* Light gray background */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d07878; /* White container background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #5037cb; /* Green navbar background */
  overflow: hidden;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #45a049; /* Darker green on hover */
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 1;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #f9f9f9;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 20px;
  background-color: #8b492d; /* Green footer background */
  color: white;
  padding: 10px 0;
}
